<div class="body">
<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :title %>

  <%= f.input :body, :style => "height: 200px;" %>

  <%= f.input :publish_data %>
  <div style="width:300px;">
  <%= f.association :categories, :as => :check_boxes %>
  </div>
</div>
<div class="footer">
  
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn' %>
 

<% end %>
</div>