<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#"><img src="/images/logo.png" alt="Typica - Bootstrap Awesome Template!"></a>
        <ul class="nav pull-right">
	  <li>
	    <%= link_to 'Home', root_path %>
	  </li>
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Login', new_user_session_path %>
            </li>
          <% end %>
          <% if user_signed_in? %>
            <li>
              <%= link_to 'Edit account', edit_user_registration_path %>
            </li>
            <% if current_user.has_role? :admin %>
              <li>
                <%= link_to 'Users', users_path %>
              </li>
              <li>
                <%= link_to 'Categories', categories_path %>
              </li>
            <% end %>
          <% else %>
          <li>
            <%= link_to 'Sign up', new_user_registration_path %>
          </li>
        <% end %>
	  <li>
	    <a href="http://myrailsdemo.blogspot.in/">Shahid blog</a>
	  </li>
      </ul>
    </div>
  </div>
</div>






